{% extends 'base.html' %}

{% block content %}
    <h1>Data Schemas</h1>
    <div class="row">
        <a href="{% url "schema-create" %}" class="btn-success ml-auto">New schema</a>
        <table class="table">
            <tr>
                <td>#</td>
                <td>Title</td>
                <td>Modified</td>
                <td>Actions</td>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.id }}
                    </td>
                    <td>
                        <a href="{% url "set-list" object.id %}">{{ object.name }}</a>
                    </td>
                    <td>
                        {{ object.updated_at }}
                    </td>
                    <td>
                        <button class="btn-danger">delete</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}