{% extends 'base.html' %}

{% block content %}
    <h1>Data Sets</h1>
    <div class="row">
        <form method="post" class="ml-auto">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn-success">Generate data</button>
        </form>
        <table class="table">
            <tr>
                <td>#</td>
                <td>Created</td>
                <td>Status</td>
                <td>Actions</td>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.id }}
                    </td>
                    <td>
                        {{ object.created_at }}
                    </td>
                    <td>
                        {% if object.status == True %}
                            <span class="badge badge-success">Ready</span>
                        {% else %}
                            <span class="badge badge-light">Processing</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if object.status == True %}
                            <a href="{% url "download" object.id %}" class="btn-link">Download</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}